.collapsible .content {
    padding: 6px;
    background-color: white;
}
.collapsible .header {
    background-color: white;
    padding: 6px;
    cursor: pointer;
    font-weight: 900 !important;
    text-align: center;
} 

.open {
    background-color: lightblue;
    font-weight: 800 !important;
}