
.Home{
    text-align: center;
    height: 2000px;
}

.main-logo {
    width: 250px;
    z-index: 1000;
    left: 40%;
    top: 45%;
}

.smallCardAndMap {
    display: flex;
    flex-direction: column;

    justify-items: center;
    justify-content: center;
    text-align: center;
    width: 1200px;
    height: auto;
    margin:auto;




}

.MapAll {
    margin: 40px auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.MapAll>div {
    border-radius: 35px !important;
    height: 600px!important;

}

.MapAll[hidden] {
    display: none !important;
}

.smallCards {

    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    
    flex-wrap: wrap;
    justify-content: space-around;
    margin:auto  ;
    text-align: center;
}