

.pigeon-overlays{
    width: 2000px!important;


}

.pigeon-tiles-box{     height: 1400px!important;
}

.pigeon-zoom-in, .pigeon-zoom-out{
margin-left:25px;
margin-top:25px;

}
 
Map {
    position:static!important;
 
}

.pigeon-attribution{
    height: 50px!important;}
